* {
	box-sizing: border-box;
}

html {
    padding-top:50px;
}



body {
    border: 10px groove lightgray;
    border-radius: 100px;
    padding: 40px;
    width: 60%;
    height: 400px;
    margin: 0 auto;
    background: url("Images/bg.jpg");
}

#clock {
    height:120px;
    font-size: 50px;
    font-family: arial;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
  color: white;
}

h2 {
	text-align:center;
  

}

#alarm-container {
	text-align:center;
    font-family: arial;
    font-size: 0.6em;
    padding: 0.7em;
  color: white;
}

label {
	display:inline-block;
}

.timeofday {
    background-color: #eee;
}

.bigger {
    font-weight:bold;
    font-size: 25px;
}

#sounds {
    text-align: center;
    padding-top: 20px;
}

#setButton {
    float:left;
    background-color:greenyellow;
    margin-top:10px;
}
#stopButton {
    float:right;
    background-color:orange;
    margin-top:10px;
}



